body {
    font-family: arial;	
}
.logo {
  margin-top: -50px;
  height: 8em;
  text-align: center;

}
header {
  text-align: center;
}
.role {
  border-width: 1px;
  border-color: #222222;
  border-style: solid;
  border-radius: 50px;
  padding: 6px 30px 6px 30px;
  font-size: 15px;
  background-color: transparent;
  margin-top: -10px;
}
.username {
  margin-bottom: 10px;	
}
/*--nav--*/
#outer-wrapper {
position: relative;
overflow: hidden;
width: 100%;
}
#inner-wrapper {
width: 100%;
height: 100%;
position: relative;
-webkit-transform: translateX(0);
transform: translateX(0);
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
-webkit-transition: 300ms ease all;
transition: 300ms ease all;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
padding: 5% 0;
/* Temp: Just spacing. */
}
.show-nav #inner-wrapper {
-webkit-transform: translateX(300px);
transform: translateX(300px);
-webkit-transform: translate3d(300px, 0, 0);
transform: translate3d(300px, 0, 0);
}
#nav {
width: 300px;
height: 100%;
position: absolute;
top: 0;
left: -300px;
background: #f1f1f1;
padding: 15px;
}
#toggle-menu {
margin-left: 20px;
background-color: #f3c046;
border-style: none;
}
li {
border-width: 0 0 1px 0;
border-color: #777777;
border-style: solid;
display: block;
}
li a {
display: block;
color: #53585f;
font-size: 1em;
line-height: 4em;
outline: none;
text-decoration: none;
padding-left: 20px;
}
li a:focus,
li a:hover {
color: #f3c046;
background: #808080;
}
.aa {
display: inline-block;
height: 4em;
width: 4em;
margin-right: 20px;
}
.fa2 {
color: #f3c046;
padding-left: 10px;
margin-right: 10px;
}
.fa {
line-height: inherit;
}
.fa3 {
color: #555555;
padding-left: 10px;
margin-right: 10px;
}
.fa4 {
color: #777777;
padding-left: 10px;
margin-right: 10px;
}
.main {
	background-image: url(http://i44.photobucket.com/albums/f9/Shuyu_Wu/Screen%20Shot%202017-03-10%20at%204.55.10%20PM_zpserb6d2qj.png);		
	height:30em;	
	margin-top: 40px
}
.slogan {
	padding-top: 7em;
	text-align: center;
	color: #808080;
	font-size:2em;
}
.footer {
	text-align: center;
	margin-bottom: 0
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 40px auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #808080;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}